# OBJECT
*.o

# Compiled programs
*.out

# Ctags
tags

# OS GENERATED
.DS_Store

# OUTPUTS
/Assignment_3/ex_1/images/hw3_result_1.bmp
/Assignment_3/ex_1/images/hw3_result_2.bmp
/Assignment_3/ex_1/images/hw3_result_3.bmp
